{% import "Ceres::Category.Macros.CategoryTree" as Tree %}

<ul class="mainmenu float-lg-right">
    {{ Tree.get_nav_bar(
        categories,
        "",
        ceresConfig.header.megamenuLevels,
        {
            "1": ceresConfig.header.megamenuItemsStage1,
            "2": ceresConfig.header.megamenuItemsStage2,
            "3": ceresConfig.header.megamenuItemsStage3
        }
    ) }}
    
   <li>
   <div style="display:inline-block;">
   <img src="https://cdn02.plentymarkets.com/zt06z6ynqgmj/item/images/6200/middle/16274.jpg">
   </div>
   </li> 
   
 
    
</ul>
